@import "./variables";

hr:not([size]) {
    height: 0;
}

hr {
    margin: 0;
}

.nav {
    justify-content: space-around;
    background-color: #EDE0D4;

    #header_logo {
        height: 10rem;
        border: double black;
        margin-top: 1rem;

        &:hover {
            transform: scale(1.1,1.1);
        }
    }

    &-tabs &-link {
        border: solid #DDB892;
        background-color: #EDE0D4;
        font-family: 'Open Sans', sans-serif;
        color: black;
    }
    
    &-item {
        margin-top: 3rem;
    }
    
    ul.dropdown-menu.show {
        background-color: #EDE0D4;
        font-family: 'Open Sans', sans-serif;
    }

    &-link:focus, &-link:hover {
        color: black;
    }

    &-tabs &-item.show &-link, &-tabs &-link.active {
        color: black;
        border-color: #DDB892;
        background-color: #EDE0D4;
        font-family: 'Open Sans', sans-serif;
    }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
}
